.default {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.default img {
	max-width: 50%;
	/* max-height: 240px;  */
	border-radius: 12px;
	/* object-fit: none; */
	/* object-position: 50% 50%; */
}

.default ul {
	width: 50%;
	margin: 0 3rem 0 3rem;
}

.default li {
	list-style: none;
}