/* @import url('http://fonts.cdnfonts.com/css/pastor-of-muppets'); */

.default {
	font-family: 'Pastor of Muppets', sans-serif;
	font-size: 10rem;
	text-align: center;
	border-top: 4px solid #a00;
	border-bottom: 4px solid #a00;
	width: 70%;
	margin: 0 auto;
}